@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.menu {
  @extend %d-flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  position: fixed;
  justify-content: center;
  color: var.$text-color-secondary;
  h1 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  @include mix.tablet-styles {
    width: 100%;
    height: auto;
    padding: var.$gutter-base 0;
    position: static;
    // position: fixed;
    // z-index: 1;
    // background-color: #fff; ako e fiksno menito
    top: 0;
    left: 0;
    flex-direction: row;
  }

  ul {
    margin: (var.$gutter-base * 4) 0;
    padding: 0;
    :not(:last-child) {
      margin-bottom: math.div(var.$gutter-base, 2);
    }
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        text-decoration: none;
        color: var.$text-color-secondary;
      }
      :hover {
        text-decoration: underline;
      }
    }
  }
}

.inner-menu {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
  :last-child {
    margin-bottom: 0;
  }
  .fas {
    display: none;
  }

  p a {
    color: var.$text-color-secondary;
    font-weight: var.$font-weight-bold;
    &:hover {
      text-decoration: underline;
    }
  }

  @include mix.tablet-styles {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul,
    p {
      display: none;
    }
    .fas {
      border: 2px solid var.$text-color-secondary;
      color: var.$text-color-secondary;
      font-size: var.$font-size-bigger;
      padding: math.div(var.$gutter-base, 4);
      display: block;
      cursor: pointer;
    }
  }
}
